.content{
    /* height: 70vh; */
    min-width: 30vw;
    background-color: coral;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:cyan;
}
.takeinput{
    /* background-color:darkblue; */
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input{
    background-color: transparent;
    /* border-style: none; */
    outline: none;
    border-width:0 0 2px;
    border-bottom-color: black;
    text-align: center;
}
img{
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
}
.additional{
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.data{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cit{
    align-items: center;
}
.notfound{
    height:30vh ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}